<html>
    <head>
        <title>IoTrash</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="static/styles.css">
        <link rel="shortcut icon" href="static/favicon.ico">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>

    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">IoTrash Dashboard</span>
            </a>
        </header>
    </div>

    <div class="container">
        <h2>Fullness</h2>
        <canvas id="fullnessChart" height=400px width=400px></canvas>
        <script>
            var ctx = document.getElementById("fullnessChart").getContext("2d");
            var lineChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: {{ fullness_labels | safe }},
                    datasets: [
                        {
                            label: "% Full",
                            data: {{ fullness_values | safe }},
                            fill: true,
                            borderColor: "rgb(75, 192, 0)",
                            lineTension: 0.1
                        }
                    ]
                },
                options: {
                    responsive: false,
                    scales: {
                        y: {
                            suggestedMin: 10
                        }
                    }
                }
            })
        </script>
    </div>    
    <br>
    <div class="container">
        <h2>Temperature</h2>
        <canvas id="tempChart" height=400px width=400px></canvas>
        <script>
        var ctx = document.getElementById("tempChart").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ temp_labels | safe }},
                datasets: [
                    {
                        label: "Temp (C)",
                        data: {{ temp_values | safe }},
                        fill: true,
                        borderColor: "rgb(0, 136, 163)",
                        lineTension: 0.1
                    }
                ]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        suggestedMin: 10
                    }
                }
            }
        })
        </script>
    </div>
</html>
